<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.potato.mapper.Etc_mapper">

<!-- 1.고객의 편지 등록 -->
<insert id="send_coments">
<![CDATA[
insert into coments(message,id,ip_address)
 values(#{message},#{id},#{ip_address})
]]>
</insert>

<!-- 2.고객의 편지 리스트 가져오기 -->
<select id="get_coments" resultType="ComentsVO">
<![CDATA[
select * from coments
]]>
</select>

</mapper>