<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.potato.mapper.Member_mapper">

<!-- 1.회원가입 -->
<insert id="register">
<![CDATA[
insert into member(member_number,id,pass,name,nickName,phone,address,profile_image)
 values(#{member_number},#{id},#{pass},#{name},#{nickName},#{phone},#{address},'default_profile_1.jpg')
]]>
</insert>

<!-- 2.로그인 -->
<select id="login" resultType="MemberVO">
<![CDATA[
select member_number,id,name,nickName,grade,profile_image,address from member where id=#{id} and pass=#{pass}
]]>
</select>


<!-- 3.회원탈퇴 restcontroller로 하기-->
<insert id="delete">
<![CDATA[
delete from member where id=#{id} and pass=#{pass}
]]>
</insert>

<!-- 4.마이 페이지 보기1 -->
<select id="mypage" resultType="MemberVO">
<![CDATA[
select pass,phone,address,profile_image from member
where member_number=#{member_number}
]]>
</select>

<!-- 5.마이 페이지 보기2 -->
<select id="mypage2" resultType="UserVO">
<![CDATA[
select reports,temper,trades 
from user_table
where user_number=#{member_number}
]]>
</select>

<!-- 6.마이 페이지 수정 -->
<update id="modify_mypage">
<![CDATA[
update member set address=#{address},pass=#{pass},nickName=#{nickName},phone=#{phone},update_date=sysdate 
where member_number=#{member_number}
]]>
</update>



<!-- 7.프로필 보여주기 -->
<select id="profile" resultType="MemberVO">
<![CDATA[
select member_number,id,nickName,address,profile_image from member where member_number=#{member_number}
]]>
</select>


<!-- 8.나의 활동내역 확인(댓글) -->
<select id="mylist1" resultType="ReplyVO" >
<![CDATA[
    select * from reply where writer=#{id}
]]>
</select>

<!-- 9.나의 활동내역 확인(답글) -->
<select id="mylist2" resultType="Re_replyVO">
<![CDATA[
    select * from re_reply where writer=#{id}
]]>
</select>

<!-- 10.나의 활동내역 확인(게시글) -->
<select id="mylist3" resultType="BoardVO">
<![CDATA[
    select * from board where writer_number=#{member_number}
]]>
</select>

<!-- 11.나의 활동내역 확인(신고내용) -->
<select id="mylist4" resultType="ReportVO">
<![CDATA[
    select * from reports where writer_id=#{id}
]]>
</select>

<!-- 12.ID중복 확인(회원가입에서) -->
<select id="check_id" resultType="String">
<![CDATA[
    select id from member where id=#{id}
]]>
</select>

<!-- 13.프로필 사진 수정 -->
<update id="modify_profile">
<![CDATA[
update member set profile_image=#{profile_image},update_date=sysdate 
where member_number=#{member_number}
]]>
</update>

<!-- 14.로그인 됨으로 상태변경 -->
<update id="login_check">
<![CDATA[
    update login_check set status=#{status} where member_number=#{member_number}
]]>
</update>

<!-- 15.로그인 아이디 중복체크 -->
<select id="login_check2" resultType="Login_checkVO">
<![CDATA[
    select * from login_check where member_number=#{member_number}
]]>
</select>

<!-- 16.세션 mno로 좋아요& 관심 목록 가져오기 -->
<select id="get_likes_list" resultType="Board_member_cartVO">
<![CDATA[	select
            b.board_number,
            b.title,
            m.nickName,
            m.profile_image,
            m.id,
            c.likes_member_number,
            c.likes,
            c.interest
        FROM 
            board b
        JOIN 
            member m ON b.writer_number = m.member_number
        JOIN 
            cart c ON b.board_number = c.likes_board_number
        WHERE 
            c.likes_member_number = #{member_number}
]]>
</select>

<!-- 17.신고 작성하기 -->
<insert id="report">
<![CDATA[
insert into reports (report_number,writer_id,defendant_id,defendant,content)
values(#{report_number},#{writer_id},#{defendant_id},#{defendant},#{content})
]]>
</insert>

<!-- 18.email, phone으로 id 찾기 (1: form정상 / 0: form오류) -->
<select id="find_id" resultType="MemberVO">
<![CDATA[
    select id from member where name=#{name} and phone =#{phone}
]]>
</select>

<!-- 19.id, email, phone으로 임시 비밀번호 저장 (1: 저장됨 / 0: form오류) -->
<update id="find_pass">
<![CDATA[
    update member set pass=#{pass} 
    where id=#{id} and name=#{name} and phone=#{phone}
]]>
</update>

<!-- 20.[트리거문제] 회원가입시 user테이블도 같이 생성 -->
<insert id="register2">
<![CDATA[
insert into user_table (user_number) values (#{member_number})
]]>
</insert>

<!-- 21.[트리거문제] 회원탈퇴시 X_member테이블로 데이터 옮기기 -->
<insert id="delete2">
<![CDATA[
insert into x_member (member_number,id,pass,name,nickname,phone,address,grade,regidate,leave_date) 
values(#{member_number},#{id},#{pass},#{name},#{nickname},#{phone},#{address},#{grade},#{regidate},sysdate)
]]>
</insert>

<!-- 22.[트리거문제] 회원가입시 login_check테이블도 같이 생성 -->
<insert id="register3">
<![CDATA[
insert into login_check (member_number,id) values(#{member_number},#{id})
]]>
</insert>

<!-- 23.회원 pay 정보 조회 -->
<select id="getPay" parameterType="String" resultType="long">
	<![CDATA[
    SELECT pay FROM member WHERE member_number = #{member_number}
    ]]>
</select>

<!-- 24.회원 point 정보 조회 -->
<select id="getPoint" parameterType="String" resultType="long">
	<![CDATA[
    SELECT point FROM member WHERE member_number = #{member_number}
    ]]>
</select>


</mapper>


