<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.potato.mapper.Pay_mapper">

<!-- 충전 정보 삽입 -->
<insert id="chargePay" parameterType="com.potato.domain.PayVO">
	<![CDATA[
    INSERT INTO pay (id, from_member_number, to_member_number, pay_amount, point_amount, pay_date)
    VALUES (#{id}, #{from_member_number}, #{to_member_number}, #{pay_amount}, #{point_amount}, SYSDATE)
    ]]>
</insert>

<!-- 충전하는 회원의 가상머니 증가 -->
<update id="incrementPay">
	<![CDATA[
    UPDATE member
    SET pay = pay + #{pay_amount}
    WHERE member_number = #{from_member_number}
    ]]>
</update>

<!-- 포인트를 머니로 전환 -->
<update id="convertPointsToPay">
	<![CDATA[
    UPDATE member
    SET pay = pay + #{point}, point = point - #{point}
    WHERE member_number = #{member_number}
    ]]>
</update>

<!-- 채팅방의 board_number를 이용해 해당 상품 가격 가져오기 -->
<select id="findPriceByBoardNumber" resultType="int">
	<![CDATA[
    SELECT price FROM board WHERE board_number = #{board_number}
    ]]>
</select>

<!-- 특정 사용자 정보를 조회 -->
<select id="getMemberById" parameterType="String" resultType="com.potato.domain.MemberVO">
	<![CDATA[
    SELECT * FROM member WHERE member_number = #{member_number}
    ]]>
</select>

<!-- 금액 추가, 차감 쿼리 -->
<update id="updateMember" parameterType="com.potato.domain.MemberVO">
	<![CDATA[
    UPDATE member SET pay = #{pay} WHERE member_number = #{member_number}
    ]]>
</update>

<!-- 거래완료 후 매너칭찬 설문시 포인트 적립 -->
<update id="addPoints">
	<![CDATA[
    UPDATE member
    SET point = point + #{point}
    WHERE member_number = #{member_number}
    ]]>
</update>

<!-- 환불 정보를 삽입 -->
<insert id="insertRefund" parameterType="com.potato.domain.PayVO">
    <![CDATA[
    INSERT INTO pay (id, from_member_number, to_member_number, pay_amount, point_amount, pay_date)
    VALUES (#{id}, #{from_member_number}, #{to_member_number}, #{pay_amount}, #{point_amount}, SYSDATE)
    ]]>
</insert>

<!-- 환불하는 회원의 가상머니 차감 -->
<update id="decrementPay">
    <![CDATA[
    UPDATE member
    SET pay = pay - #{pay_amount}
    WHERE member_number = #{member_number}
    ]]>
</update>

</mapper>